<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/menu.xsd">
    <entries>
        <entry>
            <name>JosFrontendManager</name>
            <label lang="en">JosFrontendManagerr</label>
            <label lang="de">JosFrontendManager</label>
            <controller>FrontendManagerBackend</controller>
            <action>index</action>
            <class>sprite-molecule</class>
            <parent identifiedBy="controller">ConfigurationMenu</parent>
            <onclick>Shopware.ModuleManager.createSimplifiedModule("FrontendManagerBackend", { "title": "Jos Frontendmanager" })</onclick>
        </entry>
    </entries>
</menu>